%main
  %section.jumbotron.bg-primary.text-white.rounded-0.m-0.vh-100
    .container
      .py-5.text-center
        = image_tag "wyp_logo.png"
        %h2.mt-4
          = link_to '커뮤니티', 'https://wouldyou.parti.xyz', target: '_blank', class: 'btn btn-info'
          = link_to '월간우주당', '#', class: 'btn btn-danger'
          = link_to '21대국회', candidates_path, class: 'btn btn-warning'
