.border.p-4
  = form_with url: candidates_path, method: :get, local: true do |f|
    .my-3
      %h6 후보명으로 검색해보세요.
      .form-group
        = f.text_field :name, value: params[:name], class: "form-control"
      .form-group
        = f.submit "검색", class: "btn btn-outline-primary"
