%section.py-5
  .container
    %h3.font-weight-bold 후보들의 별별 팩트체크

    %section.my-3
      = render "trails/best"

    %section.my-3
      = render "trails/search_form"

    .my-3
      = render @trails, show_candidate: true